$main-color: #060b35; // колір пунктів меню
$link-active-color: #00acdc; // колір активного меню
$white-background-color: #fff; // фон сторінки
$normal: 400;
$medium: 500;
$bold: 700;

// $color-text: #616070;
// $color-title: #0b3506;
