$main-color: #060b35; // колір пунктів меню
$link-active-color: #00acdc; // колір активного меню
$white-background-color: #fff; // фон сторінки
$normal: 400;
$medium: 500;
$bold: 700;
$card-width: 200px;
$gap-x: 46px;
$gap-y: 48px;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$transition-duration: 300ms;
$card-title-hover-color: #34568b;
$star-size: 16px;
$nav-link-color: #060b35;
