@use './variables' as *;

.card {
  background-color: $white-background-color;
  width: $card-width;
  box-sizing: border-box;
  border-radius: 5px;
  transition:
    transform $transition-duration ease,
    background-color $transition-duration ease;
  border: 1px solid #f3f3f3;

  // базовий стан елементів
  &__title {
    margin: 0;
    padding: 0;
    color: $main-color;
    font-weight: $medium;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 150%; /* 18/12 */
  }

  // тепер ховер ефекти після основних елементів
  &:hover {
    transform: scale(1.2);

    .card__title {
      color: $card-title-hover-color;
    }
  }

  &__picture {
    padding: 32px 19px 0;
    margin-bottom: 40px;
  }

  &__pic {
    aspect-ratio: 160 / 134;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    padding: 0 16px 16px;
  }

  &__code {
    font-weight: $normal;
    font-size: 10px;
    color: #616070;
    line-height: 140%; /* 14/10 */
    letter-spacing: 0%;
    margin: 0 0 16px;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
  }

  &__review {
    font-weight: $normal;
    font-size: 10px;
    display: flex;
    line-height: 140%; /* 14/10 */
    color: #060b35;

    // align-items: flex-end;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  &__text {
    font-weight: $normal;
    font-size: 12px;
    color: #616070;
    line-height: 150%; /* 18/12 */
  }

  &__cost {
    font-weight: $bold;
    color: #060b35;
    line-height: 18px; /* 18/16 */
    font-size: 16px;
  }

  &__btn {
    display: inline-block;
    background-color: #00acdc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 14px;
    padding: 11px 0;
    height: 40px;
    line-height: 16px;
    border: 1px solid #00acdc;
    width: 100%;
    transition: all $transition-duration ease;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;

    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      background-color: #fff;
      color: #00acdc;
      text-decoration: none;
    }
  }
}
