@use './variables' as *;

.header {
  box-shadow: 0 2px 4px 0 #0000000d;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-background-color;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }

  // .header__logo

  &__logo {
    display: flex;
    flex-shrink: 0;
  }

  // .header__img

  &__img {
    width: 100%;
    vertical-align: top;
    max-width: 100%;
    max-height: 40px;
  }
}

.menu {
  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // .menu__item

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  // .menu__link

  &__link {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: $nav-link-color;
    line-height: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-weight: $medium;
    transition: color $transition-duration ease 0s;

    &:hover {
      color: $link-active-color;
    }
  }
}

.is-active {
  color: $link-active-color;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $link-active-color;
    border-radius: 8px;
  }
}
