@use './variables' as *;
@use './header';
@use './main';

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: $main-color;
  box-sizing: border-box;
  background-color: $white-background-color;
}

p {
  margin: 0;
}
